<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Det bästa vädret i Liljeholmen om 24 timmar är:</h1>
<p id="time" th:text="'Tid för prognos: ' + ${timestamp}"></p>
<p id="celsius" th:text="'Temperatur: ' + ${celsius} + 'ºC'"></p>
<p id="wind" th:text="'Vind: ' + ${windspeed} + ' m/s från ' + ${winddirection}"></p>
<p id="rain" th:text="'Regn: ' + ${rain} + ' mm/h'"></p>
<p id="cloudchance" th:text="'Molnighet: ' + ${cloudchance} + '%'"></p>
<p id="humidity" th:text="'Luftfuktighet: ' + ${humidity} + '%'"></p>
<p id="source" th:text="'Källa: ' + ${source}"></p>
</body>
</html>